.restart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  margin-top: 8%;
  margin-right: 6%;
  background-color: rgb(168, 191, 201);
  box-shadow: inset 0rem -0.4rem 0rem #6b8997;
  box-sizing: border-box;
  border: 10px solid #e5e7eb;
  border-radius: 5px;
  
}

@media (max-width: 480px) {
  .restart-button {
    font-size: 12px;
    height: 40px;
    width: 40px;
    right: 4%;
  }
}