.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  max-height: 350px;
  margin: 0 auto;
  justify-items: center;
  
}

/* @media (max-width: 768px) {
  .board {
    max-width: 300px;
  }
} */

@media (max-width: 480px) {
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 20px;
    width: 75%;
    margin: 0 auto;
  }
}
  