.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1f3641;
  border: 0 solid #ccc;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: white;
  height: 100px;
  border-radius: 10px;
  box-shadow: inset 0rem -0.4rem 0rem #10212a;
}

.x-content {
  color: #31c3bd;
  font-size:xx-large;
  font-weight: bold;
  
}

.o-content {
  color: #f2b137;
  font-size: xx-large;
  font-weight:bold;
}

@media (max-width: 768px) {
  
  .cell {
    font-size: 20px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .cell {
    font-size: 16px;
    height: 60px;
  }
}