.scoreboard {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29%;
  height: 30%;
  margin-left: 35.5%;
  gap: 15px;

  >button{
    font-size: small;
    font-weight: 500;
    bottom: 30%;
    background-color: brown;
    height: 30%;
    border: none;
    border-radius: 10px;
    
  }

  .bluescore{
    background-color: #31c3bd;
  }
  .white{
    background-color: #a8bfc9;
  }
  .yellowscore{
    background-color: #f2b137;
  }
}

@media (max-width: 768px) {
  
  .scoreboard {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .scoreboard {
    font-size: 12px;
  }
}